:root {
  --black: #25292e;
  --white: #fff;

  --bg-color: #f3f7fa;
  --border-color: #ced9e1;

  --data-info-color: #68696B;
  --company-info-color: #2F3B43;
  --tag-color: #546a78;
  --tag-border: #546a78;
  --disclosure-type-bg: #f5f9ff;
  --disclosure-type-text: #5091ff;
}