/* common icon */
.ico_comm {
  overflow: hidden;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  color: transparent;
  vertical-align: top;
  text-indent: 100%;
  white-space: nowrap;
  outline: 0 none;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  color: transparent;
}

/* icons */
.ico_arrow {
  width: 16px;
  height: 16px;
  background-image: url('/images/icon/arrow.svg');
}
  
.ico_polygon {
  width: 16px;
  height: 16px;
  background-image: url('/images/icon/polygon.svg');
}

.ico_calendar {
  width: 16px;
  height: 16px;
  background-image: url('/images/icon/calendar.svg');
}
